.pageComp{
    width: 100%;
    min-height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pageComp h2{
    font-family: Roboto;
    font-weight: normal;
    font-size: 35px;
}
.videos{
    width:1800px;
    min-height: 700px;
    display: grid;
    padding: 50px 70px;
    grid-gap: 50px;
    grid-template-columns: repeat( auto-fit, minmax(250px, 500px) )
}
.videos .link{
    background-color: #C4C4C4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}
.link{
    color:#F9A1A1;
}