.swappingComp{
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.swappingComp p{
    font-size: 45px;
    margin-bottom: 20px;
}
.swappingComp .swapVideos{
    width: 70%;
    min-height: 500px;
    display: grid;
    padding: 20px 0;
    grid-gap: 50px;
    grid-template-columns: repeat( auto-fit, minmax(250px, 450px) );
    margin-bottom: 20px;
}
.swappingComp .swapVideos .link{
    background-color: #C4C4C4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}
.swappingComp .quest{
    width: 60%;
    height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.swappingComp .quest .perc{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background:  #93E5FF;
    border-radius: 100%;
}
.swappingComp .quest .perc p{
    font-size: 80px;
}
.swappingComp .quest .inp{
    width: 70%;
    height: 100%;
    display: flex;
    padding: 20px   ;
    flex-direction: column;
    align-items: center;
}
.swappingComp .quest .emailLab{
    font-size: 40px;
    text-align: start;
    margin-bottom: 15px;
}
.swappingComp .quest .emailInp{
    width: 650px;
    height: 80px;
    border:8px solid;
    font-size: 29px;
}

