.homepageComp{
    width: 640px;
    height: 455px;
    border:1px solid black;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top:100px;
    left: 0;
    right: 0;
    margin: auto;
}
.videoComp{
    width: 572px;
    height: 300px;
    border-radius: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#F9A1A1;
    font-size: 50px;
    background-color: #C4C4C4;
    margin-bottom: 22px;
}
.btn{
    width: 250px;
    height: 40px;
    background-color: #CFFAA4;
    border: 0;
    font-family: Roboto;
    font-size: 18px;
    line-height: 14px;
}