.readyComp{
    height: 455px;
    width: 640px;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border:1px solid;
    position: absolute;
    right: 0;
    top:100px;
    left: 0;
    margin: auto;
    
}
.readyComp>h2{
    font-size: 16px;
    font-weight: 400;
    font-family: Roboto;
    margin-bottom: 22px;
}
.readyComp .readyVid{
    width: 567px;
    height: 700px;
    border-radius: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#F9A1A1;
    font-size: 50px;
    background-color: #C4C4C4;
    margin-bottom: 22px;

}
.readyComp .readyBtns{
    width: 330px;
    height:48px;
    display: flex;
    justify-content: space-around;

}
.readyComp .readyBtns .readyBtn{
    width: 141px;
    height: 100%;
    font-size: 16px;
    background: #CFFAA4;
    border:0;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;

}