.pageComp {
  width: 640px;
  height: 455px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  margin: auto;
}
.pageComp h2 {
  font-family: Roboto;
  font-weight: normal;
  font-size: 25px;
}
.videos {
  width: 95%;
  min-height: 80%;
}
.videos .link {
  background-color: #c4c4c4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
}
.link {
  color: #f9a1a1;
}
